.deps/
.libs/
*.la
*.lo
*.o
*.exe
*~
/autom4te.cache/
/conf/icecast.xml.dist
/conf/icecast_minimal.xml.dist
/conf/icecast_shoutcast_compat.xml.dist
/config.h
/config.h.in
/config.log
/config.status
/git_hash.h
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/icecast
/stamp-h1
